* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #595db8;
}

.sortable-list {
	background: white;
	width: 445px;
	padding: 30px 25px 20px;
	border-radius: 6px;
}

.sortable-list .item {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ccc;
	margin-bottom: 11px;
	padding: 10px 13px;
	border-radius: 5px;
}

.item .details {
	display: flex;
	align-items: center;
}

.item .details img {
	width: 43px;
	height: 43px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 12px;
}

.item .details span {
	font-size: 1.13rem;
}

.item i {
	font-size: 1.13rem;
	color: #474747;
}

.item.dragging :where(.details, i) {
	opacity: 0;
}